
* {
  margin: 0px;
  padding: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption,hgroup, div{
  display: block;
}

body {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.links{
  display: flex;
  margin: 10px;
  width: 60px;
  background-color: white;
  padding: 3px;
  justify-content: center;
  font: 12px verdana, sans-serif;
  color: blue; 
}

.linksActive{
  color: blue;  
  background-color: rgb(180, 215, 255);
}

h1{
  margin: 20px;
  font: 14px verdana, sans-serif;
}

h2{
  margin: 20px;
  font: 13px verdana, sans-serif;
}


h3{
  font: 12px verdana, sans-serif;
}

p{
  margin: 20px;
  font: 12px verdana, sans-serif;
}

table {
  margin: 20px; 
}

td{
  text-align: left;
}

.control{
  width: 80px;

}

.inputError {
  outline-color: red;
}

.form{
  margin: 20px;
  width: 250px;
}

.field{
  margin: 2px;
  width: 100px;
  font: 10px verdana, sans-serif;
}

form{
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.list{
  margin: 20px;
}

